/*
HEADER COMPONENTS
***********************************
*/

.header{
    display: flex;
    border-radius: 0px 0px 15px 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--boxes-color);
    height: 400px;
    
}
.header-container{

}
.header-left{
}
.header-left-info{
   
}
