:root {
  --background-color: #E5E5E5;
  --primary-color: #E7ECEF;
  --secondary-half-color: #516F91;
  --secondary-low-color: #879CB3;
  --boxes-color: #F8F8FB;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


